.movie-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-score-valor {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: orange;
}

.movie-score-count {
    font-size: 15px;
    color: lightslategray;
    margin: 5px 0px 10px 0px;
}