/*estilização da página de formulários*/

.movie-form-container {
    max-width: auto;
    margin: 40px auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.movie-imagem-poster {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    border-radius: 1em;
    width: 12em;
    height: 300px;
}

.movie-poster-bottom-container {
    margin-top: 5px;
    font-size: 1.50rem;
    text-align: center;
}

.movie-form {
    width: calc(100%-20px);
}

.movie-grupo-form {
    margin-bottom: 25px;
}

.movie-grupo-form label {
    font-size: 20px;
    font-weight: 400;
    color: lightslategray;
    margin-bottom: 25px;
}

.movie-form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-btn {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    height: 30px;
}