/*estilização da página de formulários*/

.movie-form-container {
    max-width: auto;
    margin: 40px auto;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

.movie-image-poster {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.movie-poster-bottom-container {
    margin-top: 5px;
    font-size: 1.50rem;
    text-align: center;
}

.movie-form {
    width: calc(100%-20px);
}

.movie-grupo-form {
    margin-bottom: 20px;
}

.movie-grupo-form label {
    font-size: 15px;
    color: lightslategray;
}

.movie-form-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-btn {
    display: flex;
    margin: auto;
}